.add-book-page {
    height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: stretch;
}
.ImageSelectionSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto; 
}
.ImageViewCard
{
    height:442px;
    width: 468px;
    border:1px dashed gray;
    border-radius:20px;
}
.ImageViewCard img
{   
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}

.bookDetailSection {   
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; 
}


form .Form-detail
{
    width: 100%;
    margin-bottom:20px;
    box-sizing: border-box;


}

form input {
    width: 400px;
    padding: 20px;

    
}
form select{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom:20px;
}


